*.tar.gz

*.exe
src/*.exe
src/*/*.exe
src/bitcoinplus
src/bitcoinplusd
src/test/test_bitcoinplus
src/qt/test/test_bitcoinplus-qt

Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/.deps/
src/Makefile.in
src/bitcoin-config.h
src/bitcoin-config.h.in
src/qt/Makefile.in
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/leveldb/.deps/

src/test/.deps
src/test/.dirstamp

src/tor/.deps/
src/tor/.dirstamp

src/xxhash/.deps/
src/xxhash/.dirstamp

src/qt/plugins/mrichtexteditor/.deps/
src/qt/plugins/mrichtexteditor/moc_*.cpp
src/qt/plugins/mrichtexteditor/ui_*.h
src/qt/plugins/mrichtexteditor/.dirstamp

src/qt/.deps/
src/qt/.dirstamp
src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/.deps/
src/qt/test/.dirstamp
src/qt/test/moc*.cpp
src/qt/res/.deps/
src/qt/res/.dirstamp

.deps
.*.swp
*.raw
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitcoinplus
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoinplus-qt
Bitcoinplus-Qt.app

# Unit-tests
Makefile.test
bitcoinplus-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb-*/Makefile